@import "compass/css3/background-size";
@import "variables";

* {
  line-height: 1.3;
}

h2 {
  font-weight: bold;
}

h2, h3 {
  color: $gray-4;
}

q, blockquote {
  font-weight: bold;
}

slides > slide {
  color: $gray-4;

  &.title-slide,
  &.inner-title-slide {
	&:after {
	  content: '';
	  background: image-url("10up-logo-black.svg") no-repeat 100% 50%;
	  @include background-size(contain);
	  position: absolute;
	  bottom: $slide-top-bottom-padding + 40;
	  right: $slide-top-bottom-padding;
	  width: 100%;
	  height: 90px;
	}

	&.inner-title-slide {
	  background: image-url("wp-light-lo-2880x1800.png") no-repeat 50% 50%;
	  @include background-size(cover);

	  &:after {
		background-image: none;
	  }
	}

	hgroup {
	  h1 {
		font-weight: bold;
		line-height: 1.1;
	  }
	  h2, p {
		color: $gray-4;
	  }
	  h2 {
		margin-top: 0.25em;
	  }
	  p {
		margin-top: 3em;
	  }
	}
  }
}

.logoslide {
  .logo-image {
	background: url(../../images/wcdfw2015/wordcampdfw2015-logo2.png);
	background-size: auto;
	width: 312px;
	height: 229px;

	> img {
	  display: none;
	}
  }
}

.badge {
  margin: 4px;
  margin-right: 15px;
  margin-bottom: 23px;
  width: 55px;
  height: 55px;
  border: 2px solid white;
  border-radius: 50%;
  box-sizing: border-box;
}

.badge-themes {
  background: white;
  box-shadow: 0 0 0 4px #4e3288;
}

.badge-themes:before {
  color: #4e3288;
}

.badge-themes-reviewer {
  background: #d2cbe1;
  box-shadow: 0 0 0 4px #4e3288;
}

.badge-themes-reviewer:before {
  color: #4e3288;
}

.badge-plugins {
  background: white;
  box-shadow: 0 0 0 4px #F06723;
}

.badge-plugins:before {
  color: #F06723;
}

.badge-plugins-reviewer {
  background: #fbd9c8;
  box-shadow: 0 0 0 4px #F06723;
}

.badge-plugins-reviewer:before {
  color: #F06723;
}

.badge-community {
  background: white;
  box-shadow: 0 0 0 4px #11799d;
}

.badge-community:before {
  color: #11799d;
}

.badge-meta {
  background: #eaeaea;
  box-shadow: 0 0 0 4px #aeadad;
}

.badge-meta:before {
  color: #aeadad;
}

.badge-meta-contributor {
  background: white;
  box-shadow: 0 0 0 4px #aeadad;
}

.badge-meta-contributor:before {
  color: #AEADAD;
}

.badge-code {
  background: white;
  box-shadow: 0 0 0 4px #cd0000;
}

.badge-code:before {
  color: #cd0000;
}

.badge-code-committer {
  background: #eac4c6;
  box-shadow: 0 0 0 4px #cd0000;
}

.badge-code-committer:before {
  color: #cd0000;
}

.badge-support {
  background: #ccecf2;
  box-shadow: 0 0 0 4px #33B4CE;
}

.badge-support:before {
  color: #33B4CE;
}

.badge-wctv {
  background: white;
  box-shadow: 0 0 0 4px #f06723;
}

.badge-wctv:before {
  color: #f06723;
}

.badge-props {
  background: white;
  box-shadow: 0 0 0 4px #f4c542;
}

.badge-props:before {
  color: #f4c542;
}

.badge-organizer {
  background: white;
  box-shadow: 0 0 0 4px #11799d;
}

.badge-organizer:before {
  color: #11799d;
}

.badge-speaker {
  background: white;
  box-shadow: 0 0 0 4px #F7AD43;
}

.badge-speaker:before {
  color: #F7AD43;
}

.badge-networking:before {
  top: 11px;
  left: 0;
}

.badge-accessibility {
  background: #c3dde6;
  box-shadow: 0 0 0 4px #11799D;
}

.badge-accessibility:before {
  color: #11799D;
}

.badge-documentation {
  background: #cedbcc;
  box-shadow: 0 0 0 4px #3B7236;
}

.badge-documentation:before {
  color: #3B7236;
}

.badge-mobile {
  background: #fee7da;
  box-shadow: 0 0 0 4px #FBA16C;
}

.badge-mobile:before {
  color: #FBA16C;
}

.badge-training {
  background: white;
  box-shadow: 0 0 0 4px #E9C02D;
}

.badge-training:before {
  color: #E9C02D;
}

.badge-training-team {
  background: #F9EFCA;
  box-shadow: 0 0 0 4px #E9C02D;
}

.badge-training-team:before {
  color: #E9C02D;
}

.badge-translation-contributor {
  background: white;
  box-shadow: 0 0 0 4px #C32283;
}

.badge-translation-contributor:before {
  color: #C32283;
}

.badge-translation-editor {
  background: #F0C7E0;
  box-shadow: 0 0 0 4px #C32283;
}

.badge-translation-editor:before {
  color: #C32283;
}

h1, h2, h3 {
  .dashicons,
  .dashicons-before:before {
	width: inherit;
	height: inherit;
	font-size: inherit;
  }
}

.thank-you-slide {
  p > span {
    display: none;
  }
}
